- title "Prints"

%table
  %tr
    %th Description
    %th Cost
  - for print in @prints
    %tr
      %td= print.description
      %td= number_to_currency print.cost
      %td= edit_button_for print
      %td= delete_button_for print, "Are you sure?"

%p= link_to "New Print", [:new, :print]
