- title "Prints"

%table
  %tr
    %th Description
    %th Cost
  - for print in @prints
    %tr
      %td= print.description
      %td= print.cost
      %td= edit_button_for print
      %td= destroy_button_for print, "Are you sure?"

%p= link_to "New Print", new_print_path
