- title "Print"

%p
  %strong Description:
  = @print.description
%p
  %strong Cost:
  = @print.cost

%p
  = link_to "Edit", edit_print_path(@print)
  |
  = link_to "Destroy", @print, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", prints_path
