- title "Orders"

%table
  %tr
    %th User
  - for order in @orders
    %tr
      %td= order.user_id
      %td= link_to button(:view, 'Show'), order
      %td= edit_button_for order
      %td= delete_button_for order, :confirm => "Are you sure?"

%p= link_to "New Order", [:new, :order]
