- title "Orders"

%table
  %tr
    %th User
    %th Subtotal
    %th Total
    %th Controls
  - for order in @orders
    %tr
      %td= order.user.email
      %td= number_to_currency order.subtotal
      %td= number_to_currency order.total
      %td
        = link_to button(:view, :alt => 'Show'), order
        = edit_button_for [ order ]
        = delete_button_for [ order ]

%p= link_to "New Order", [:new, :order]
