- title "Orders"

%table
  %tr
    %th User
  - for order in @orders
    %tr
      %td= order.user_id
      %td= link_to 'Show', order
      %td= link_to 'Edit', edit_order_path(order)
      %td= link_to 'Destroy', order, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Order", new_order_path
