- title "Order"
.control
  = edit_button_for [ @order ]
  = delete_button_for [ @order ], :confirm => "Are you sure you want to clear this order?"
  = link_to button(:back), :orders

%p
  %strong User:
  = @order.user.email

.orders
  %strong Order Items:
  %ul
    - for photo, items in @order_items_by_photo
      %li{ :class => "photo_orders" }
        .photo_item
          = image_tag photo.image.url(:small)
        %table
          %tr
            %th Print Size
            %th Quantity
            %th Price (each)
            %th Subtotal
            %th Controls
          - for item in items
            %tr
              %td= item.print.description
              %td= item.quantity
              %td= number_to_currency item.print.cost
              %td= number_to_currency item.subtotal
              %td
                = edit_button_for [ @order, item ]
                = delete_button_for [ @order, item ]
