- title "Order"

%p
  %strong User:
  = @order.user.email

%p
  %strong Order Items:
  %ul
    - for item in @order_items
      %li
        = item.print + " " + number_to_currency(item.cost)


%p
  = edit_button_for @order
  |
  = delete_button_for @order, :confirm => "Are you sure? Your entire order will be lost."
  |
  = link_to "View All", orders_path
