- form_for [ @order, @order_item ] do |f|
  = f.error_messages
  %p
    = image_tag @order_item.photo.image.url(:small) unless @order_item.photo.nil?
  %p
    = f.label :print_id, "Print:"
    %br
    = f.select :print_id, Print.all.collect { |p| [ "#{p.description} - #{number_to_currency(p.cost)}", p.id ] }
  %p
    = f.label :quantity
    %br
    = f.text_field :quantity
  %p
    = f.submit
