- form_for [ @order, @order_item ] do |f|
  = f.error_messages
  %p
    = f.label :photo_id
    %br
    = f.text_field :photo_id
  %p
    = f.label :print, "Print:"
    %br
    = f.select :print, Print.all.collect { |p| [ "#{p.description} - #{number_to_currency(p.cost)}", p.id ] }
  %p
    = f.label :quantity
    %br
    = f.text_field :quantity
  %p
    = f.submit
