- title "Order Item"

= image_tag @order_item.photo.image.url(:small)

%p
  %strong Order:
  = @order_item.order_id
%p
  %strong Quantity:
  = @order_item.quantity

%p
  = edit_button_for @order, @order_item
  = delete_button_for @order, @order_item, :confirm => "Are you sure?"
  = link_to button(:back, "View All"), @order
