- title "Order Item"

%p
  %strong Order:
  = @order_item.order_id
%p
  %strong Quantity:
  = @order_item.quantity

%p
  = edit_button_for @order, @order_item
  = delete_button_for @order, @order_item, :confirm => "Are you sure?"
  = link_to button(:back, "View All"), :order_items
