<% title "Photo: #{@photo.name}" %>
<p>
<% if @photo.image? %>
  <%= image_tag @photo.image.url %><br />
  <%= link_to @photo.image.url, @photo.image.url %>
<% end %>
</p>
<p>
  <strong>Gallery:</strong>
  <%=h @gallery.name %>
</p>
<p>
  <strong>Tags:</strong>
  <%=h @photo.tags.join(', ') %>
</p>
<p>
  <strong>Rating:</strong>
  <%=h @photo.rating %>
</p>

<p>
  <%= edit_button_for [ @gallery, @photo ] %>
  <%= delete_button_for [ @gallery, @photo ] %>
  <%= link_to button(:back, :alt => "View All"), @gallery %>
</p>
