<% form_for @gallery, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
    <%= f.check_box :public %> <%= f.label :public %>
  </p>

  <p>
    <%= f.label :owner_id %><br />
    <%= f.select :owner_id, User.all.collect { |o| [o.email, o.id] } %>
  </p>
  <p>
    <%= f.label :shoot_date %><br />
    <%= f.date_select :shoot_date %>
  </p>
  <p>
    <%= f.label :category_id %><br />
    <%= f.select :category_id, Category.all.collect { |c| [c.name, c.id] } %>
  </p>

  <p>
    <%= f.label :archive %><br />
    <% if @gallery.archive.file? %>

      <%= link_to "Add photos to gallery from: ",
        :action => 'extract', :id => @gallery.id %>
      <%= @gallery.archive.original_filename %><br />
      <p class="instruction">
        Note: This will <em>append</em> the photos to the current gallery
        collection. You should <em>not</em> run this more than once with a single zip
        file. This feature is still under development and will evolve as I&nbsp;
        better understand your workflow.
      </p>
    <% end %>

    <%= f.file_field :archive %>
  </p>
  <p><%= f.submit %></p>
<% end %>