%div{ :class => "photo #{gallery.photos.first.orientation unless gallery.photos.empty?}"}
  .control
    - if admin_signed_in?
      = edit_button_for [ gallery ]
      = delete_button_for [ gallery ], :confirm => "Are you sure? This will delete all included photos!"

  - unless gallery.nil?
    - unless gallery.photos.first.nil?
      = link_to (image_tag gallery.photos.first.image.url(:small),
                 :class => 'preview'), [gallery]
    -else
      = link_to (image_tag "missing.png", :class => 'preview'), [gallery]