<div class="grid">
  <% for photo in @photos %>
  <div class="cell">
    <div class="photo <%= photo.orientation %>">
      <%= link_to (image_tag photo.image.url(:small)),
      photo.image.url, :rel => "lightbox[#{@gallery.title}]" %><br />
    </div>
    <p class="details">
      <% if photo.rating > 0 %>Rating: <%=h photo.rating %><br /><% end %>
      <% unless photo.tags.empty? %>Tags: <%=h photo.tags.join(', ') %><% end %>
    </p>
    <p class="admin">
      <%= link_to "Edit", edit_gallery_photo_path(@gallery, photo) %> |
      <%= link_to "Destroy", [@gallery, photo], :confirm => 'Are you sure?',
        :method => :delete %>
    </p>
  </div>
  <% end %>
</div>
