= will_paginate @photos
- for photo in @photos
  %div{ :class => "photo #{photo.orientation}"}
    .control
      = like_button_for

      - if admin_signed_in?
        = edit_button_for @gallery, photo
        = delete_button_for @gallery, photo
    = link_to (image_tag photo.image.url(:small)),
        photo.image.url, :rel => "lightbox[#{@gallery.name}]"
