- title "Galleries", false
- if admin_signed_in?
  %h2
    = new_button_for [:gallery], :alt => "New Gallery", :text => true


- if admin_signed_in?
  - for category in Category.all
    - unless category.galleries.empty?
      %h2.galleries
        = "#{category.name.titleize} Galleries"
      #photos
        = render :partial => 'gallery', :collection => category.galleries
- elsif user_signed_in?
  - unless current_user.owned_galleries.empty?
    %h2.galleries My Galleries
    #photos
      = render :partial => 'gallery', :collection => @owned_galleries
  - unless current_user.shared_galleries.empty?
    %h2.galleries Shared Galleries
    #photos
      = render :partial => 'gallery', :collection => @shared_galleries

  %h2.galleries My Galleries
  #photos
    = render :partial => 'gallery', :collection => @owned_galleries
- else
  Currently not enabled.
