<% title "Galleries" %>
<p><%= link_to "New Gallery", new_gallery_path %></p>
<div class='photos'>
  <% for gallery in @galleries %>
  <div class='cell'>
    <% unless gallery.photos.empty? %>
      <%= link_to (image_tag gallery.photos.first.image.url(:small)), gallery %>
    <% end %>
    <p>
      <%=h gallery.user_id %>'s Gallery: <%=h gallery.title %> <br />
      (<%=h gallery.shoot_date %>)
    </p>
    <p class='admin'>
      <%= link_to("View", gallery) if gallery.photos.empty? %>
      <%= link_to "Edit", edit_gallery_path(gallery) %>
      <%= link_to "Destroy", gallery,
        :confirm => 'Are you sure? This will delete all photos within this gallery.',
        :method => :delete %>
    </p>
  </div>
  <% end %>
</div>