- title @gallery.name.humanize, false
- javascript "jquery.ba-bbq", "pagination"

.right
  %h2
    = @gallery.owner.email
  %h3
    = @gallery.shoot_date
  %p
    = "#{@gallery.photos.count} photos"
  =h @gallery.description


%h1
  = @gallery.name.humanize
- if admin_signed_in?
  %span.control
    = new_button_for [ @gallery, :photo ], :alt => "Add Photo", :text => true

    = edit_button_for [ @gallery ], :alt => "Edit Gallery", :text => true
    = delete_button_for [ @gallery ], :confirm => "Are you sure? This will delete the entire gallery!", :alt => "Delete Gallery", :text => true

#photos
  = render 'photos'

- if user_signed_in? && current_user.can_share?(@gallery)
  #sharing
    %h3
      Sharing
      = new_button_for [ @gallery, :permission ], :alt => "Grant Permissions"

    - if !@gallery.shared_users.empty?
      %table
        %tr
          %td Name
          %td Vote
          %td Share
          %td Purchase
        - for user in @gallery.shared_users
          - permission = user.permissions.find_by_shared_gallery_id(@gallery.id)
          %tr
            %td
              = user.email
            %td
              = permission.to_vote? ? "Yes" : "No"
            %td
              = permission.to_share? ? "Yes" : "No"
            %td
              = permission.to_purchase? ? "Yes" : "No"
            %td
              = edit_button_for [ @gallery, permission ]
            %td
              = delete_button_for [ @gallery, permission ], :confirm => "Are you sure you want to revoke this permission?"
