- title @gallery.name.humanize, false
- javascript "jquery.ba-bbq", "pagination"

.right
  %h2
    = @gallery.owner.email
  %h3
    = @gallery.shoot_date
  %p
    = "#{@gallery.photos.count} photos"
  =h @gallery.description


%h1
  = @gallery.name.humanize
- if admin_signed_in?
  %span.control
    = link_to (image_tag 'icons/add.png', :class => 'button'),
        new_gallery_photo_path(@gallery)
    = link_to (image_tag 'icons/edit.png', :class => 'button'),
        [:edit, @gallery]
    = link_to (image_tag 'icons/delete.png', :class => 'button'), [@gallery],
        :confirm => 'Are you sure? This will delete the entire gallery!',
        :method => :delete

#photos
  = render 'photos'

- if user_signed_in? && current_user.can_share?(@gallery)
  #sharing
    %h3
      Sharing
      = link_to (image_tag 'icons/add.png', :class => 'button'),
          [:new, @gallery, :permission]
    - if !@gallery.shared_users.empty?
      %table
        %tr
          %td Name
          %td Vote
          %td Share
          %td Purchase
        - for user in @gallery.shared_users
          - permission = user.permissions.find_by_shared_gallery_id(@gallery.id)
          %tr
            %td
              = user.email
            %td
              = permission.to_vote? ? "Yes" : "No"
            %td
              = permission.to_share? ? "Yes" : "No"
            %td
              = permission.to_purchase? ? "Yes" : "No"
            %td
              = link_to (image_tag 'icons/edit.png', :class => 'button'),
                  [:edit, @gallery, permission]
            %td
              = link_to (image_tag 'icons/delete.png', :class => 'button',
                  :alt => 'Revoke Permissions'), [@gallery, permission],
                    :method => :delete
