<% title @gallery.title.humanize %>
<h2><%= @gallery.user_id %></h2>
<h3><%= @gallery.shoot_date %></h3>
<% javascript "jquery.ba-bbq", "pagination" %>
<%= "#{@gallery.photos.count} photos" %>

<%= render 'admin' %>

<%= render 'photos' %>
