<% title @gallery.name.humanize, false%>
<% javascript "jquery.ba-bbq", "pagination" %>

<div class='right'>
  <h2><%= @gallery.owner_id %></h2>
  <h3><%= @gallery.shoot_date %></h3>
  <p><%= "#{@gallery.photos.count} photos" %></p>
  <%=h @gallery.description %>
</div>

<h1><%= @gallery.name.humanize %></h1>
<% if admin_signed_in? %>
  <span class='control'>
    <%= link_to (image_tag 'icons/add.png', :class => 'button'),
            new_gallery_photo_path(@gallery) %>
    <%= link_to (image_tag 'icons/edit.png', :class => 'button'),
          [:edit, @gallery] %>
    <%= link_to (image_tag 'icons/delete.png', :class => 'button'), [@gallery],
          :confirm => 'Are you sure? This will delete the entire gallery!',
          :method => :delete %>
  </span>
<% end %>

<%= render 'photos' %>
