<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= h(yield(:title) || "Moments in Life Photography") %></title>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'moments' %>
    <%= stylesheet_link_tag 'form' %>
    <%= stylesheet_link_tag 'image_gallery' %>
    <%= javascript_include_tag "application" %>
    <%= yield(:head) %>
  </head>
  <body <%= "class='admin'" if admin_signed_in? %>>
    <div id="container">
      <div id="header">
        <div id="user_nav">
          <% if user_signed_in? %>
            Hello, <%= current_user.email %>.<br />
            <%= link_to "Edit profile", edit_user_registration_path %> or
            <%= link_to "Sign out", destroy_user_session_path %>
          <% else %>
            <%= link_to "Sign up", new_user_registration_path %> or
            <%= link_to "Sign in", new_user_session_path %>
          <% end %>
        </div>
        <ul id="contact">
          <li id="location">Grand Rapids, MI</li>
          <li id="email"><%= link_to "kovachmoments@hotmail.com", "mailto:kovachmoments@hotmail.com" %></li>
          <li id="phone"><%= link_to "(616) 520-3783", "tel:6165203783" %></li>
        </ul>

        <h1><%= link_to "Moments in Life Photography", root_url %></h1>
      </div>
      <div id="nav">
        <ul id="nav_list">
          <li><%= link_to "Home", root_url %></li>
          <% if admin_signed_in? %>
            <li><%= link_to "Galleries", galleries_path %></li>
          <% elsif user_signed_in? %>
            <li><%= link_to "My Galleries", galleries_path %></li>
          <% else %>
          <% end %>
          <% for category in Category.all %>
          <li><%= link_to category.name.humanize, "/" + category.name %></li>
          <% end %>
        </ul>
      </div>

      <div id="contents">
        <%- flash.each do |name, msg| -%>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <%- end -%>

        <%- if show_title? -%>
          <h1><%=h yield(:title) %></h1>
        <%- end -%>

        <%= yield %>
      </div><!--contents-->
      <div id="footer">
        &copy;2005-<%= Date.today.year %> Moments in Life Photography.
        All rights reserved.
        Unauthorized use is prohibited.
      </div>
    </div>
  </body>
</html>
